<!DOCTYPE html>
<html lang="en">
<head>
    <title>Troop 44</title>
    <meta charset="UTF-8" />
    <meta name="description" content="This is Django Template" >
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
</head>

<body>
    <div id='wrapper'>
        <div id='header'>
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="Troop 44" /></a>
            <img id="mypic" src="{% static 'img/panzer.jpg' %}" alt="my-photo" />
            <div class="form_box">
                {% if user.id != None %}
                <p>Welcome {{user.first_name}} {{user.last_name}}!</p>
                <a href="/update/{{user.id}}">Edit my Account</a>
                <form action="/logout" method='POST'>
                    {% csrf_token %}
                        <input type="submit" value="logout">             
                </form>   
    
                {% else %}
                <p>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </p>
                {% endif %}  
            </div>
        </div>

        <div id='navbar'>
            <p><a href="/events">Events</a></p>
            <p><a href="/location">Location</a></p>
            <p><a href="/gallery">Gallery</a></p>
            <p>Join?</p>
        </div>

        <div id='mainbody'>
            <p><h2>History</h2></p>

            <img alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Panzer_Ksn_Map.jpg/180px-Panzer_Ksn_Map.jpg" decoding="async" 
            width="180" height="184" class="thumbimage" data-image-name="Panzer Ksn Map.jpg" data-image-key="Panzer_Ksn_Map.jpg">
            <p>Panzer Kaserne and nearby <a href="/wiki/Patch_Barracks" title="Patch Barracks">Patch Barracks</a> were constructed for the German Army 
            and were joined by a specially designed trail due to the weight of tank traffic. There is also a small nearby training area- unusual for 
            a Kaserne in an urban or suburban area.</p><br>
            <p>The scout hut is currently located in an old German military building that is connected to the tower that German Army leaders used to observe tank movements</p>
            <p>Source <a href="https://military.wikia.org/wiki/Panzer_Kaserne">Panzer Kaserne</a> </p>
        </div>

        <div id='footer'>
            <p>Contact Info: Please email the membership chair at somethingsomething@something.com</p>
        </div>
    </div>
</body>
</html>