<!DOCTYPE html>
<html lang="en">
<head>
    <title>Troop 44</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id='wrapper'>
        <div id='header'>
            <a href=index.html><img src="img/logo.png" alt="Troop 44" /></a>
            <img id="mypic" src="img/panzer.jpg" alt="my-photo" />
        </div>

        <div id='navbar'>
            <p><a href=events.html>Events</a></p>
            <p><a href=patrols.html>Patrols</a></p>
            <p><a href=leadership.html>Leadership</a></p>
            <p><a href=gallery.html>Gallery</a></p>
            <p>Join?</p>
        </div>

        <div id='mainbody'>
            <p>Here is a representative sample of our troop's events.
            </p>
        </div>

        <div id='footer'>
            <p>Contact Info: Please email the membership chair at somethingsomething@something.com</p>
        </div>
    </div>
</body>
</html>