<!DOCTYPE html>
<html lang="en">
<head>
    <title>Troop 44</title>
    <meta charset="UTF-8" />
    <meta name="description" content="This is Django Template" >
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
</head>

<body>
    <div id='wrapper'>
        <div id='header'>
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="Troop 44" /></a>
            <img id="mypic" src="{% static 'img/panzer.jpg' %}" alt="my-photo" />
            <div class="form_box">
                {% if user.id != None %}
                <p>Welcome {{user.first_name}} {{user.last_name}}!</p>
                <a href="/update/{{user.id}}">Edit my Account</a>
                <form action="/logout" method='POST'>
                    {% csrf_token %}
                        <input type="submit" value="logout">             
                </form>   
    
                {% else %}
                <p>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </p>
                {% endif %}  
            </div>
        </div>

        <div id='navbar'>
            <p><a href="/events">Events</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/location">Location</a></p>
            <p>Join?</p>

        </div>

        <div id='mainbody'>
            <p>Here is a sample gallery of public Pictures showing the troop.</p>
            <a id='T15Eq1EEQDtfa_MraApLqQ' class='gie-slideshow' href='http://www.gettyimages.com/detail/523099752' target='_blank' style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed from Getty Images</a><script>window.gie=window.gie||function(c){(gie.q=gie.q||[]).push(c)};gie(function(){gie.widgets.load({id:'T15Eq1EEQDtfa_MraApLqQ',sig:'nIkLS0AbZX53W9teVJgXHQf-ayX-gE-BLkR8mGhxvL8=',w:'509px',h:'339px',items:'523099752,523144962,925542364,889052-001,78782889',caption: true ,tld:'com',is360: false })});</script><script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
        </div>

        <div id='footer'>
            <p>Contact Info: Please email the membership chair at somethingsomething@something.com</p>
        </div>
    </div>
</body>
</html>