<!DOCTYPE html>
<html lang="en">
<head>
    <title>Troop 44</title>
    <meta charset="UTF-8" />
    <meta name="description" content="This is Django Template" >
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script>
            // Initialize and add the map
            function initMap() {
              // The location of Panzer
                const troop44 = { lat: 48.688105, lng: 9.039320 };
              // The map, centered at Troop44
                const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: troop44,
                });
              // The marker, positioned at Panzer
                const marker = new google.maps.Marker({
                position: troop44,
                map: map,
                });
            }
        </script>  
</head>

<body>
    <div id='wrapper'>
        <div id='header'>
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="Troop 44" /></a>
            <img id="mypic" src="{% static 'img/panzer.jpg' %}" alt="my-photo" />
            <div class="form_box">
                {% if user.id != None %}
                <p>Welcome {{user.first_name}} {{user.last_name}}!</p>
                <p>Value of user variable is {{user.id}}</p>
                <a href="/update/{{user.id}}">Edit my Account</a>
                <form action="/logout" method='POST'>
                    {% csrf_token %}
                        <input type="submit" value="logout">             
                </form>   
    
                {% else %}
                <p>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <p>Value of user variable is {{user.id}}</p>
                </p>
                {% endif %}  
            </div>
        </div>

        <div id='navbar'>
            <p><a href="/events">Events</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/gallery">Gallery</a></p>
            <p>Join?</p>
        </div>

        <div id='mainbody'>
            <p>Map to Troop 44.</p>
            <!--The div element for the map -->
            <div id="map"></div>
            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzVj-183QyH4g8heOxZPFOfGdv0sNjDhQ&callback=initMap&libraries=&v=weekly"
            async>
            </script>
        </div>

        <div id='footer'>
            <p>Contact Info: Please email the membership chair at somethingsomething@something.com</p>
        </div>
    </div>
</body>
</html>