<!DOCTYPE html>
<html lang="en">
<head>
    <title>Troop 44</title>
    <meta charset="UTF-8" />
    <meta name="description" content="This is Django Template" >
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
</head>

<body>
    <div id='wrapper'>
        <div id='header'>
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="Troop 44" /></a>
            <img id="mypic" src="{% static 'img/panzer.jpg' %}" alt="my-photo" />
            <div class="form_box">
                {% if user.id != None %}
                <p>Welcome {{user.first_name}} {{user.last_name}}!</p>
                <p>Value of user variable is {{user.id}}</p>
                <a href="/update/{{user.id}}">Edit my Account</a>
                <form action="/logout" method='POST'>
                    {% csrf_token %}
                        <input type="submit" value="logout">             
                </form>   
    
                {% else %}
                <p>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <p>Value of user variable is {{user.id}}</p>
                </p>
                {% endif %}  
            </div>
        </div>

        <div id='navbar'>
            <p><a href="/events">Events</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/gallery">Gallery</a></p>
            <p>Join?</p>
        </div>

        <div id='mainbody'>
            <p>map goes here.
            </p>
        </div>

        <div id='footer'>
            <p>Contact Info: Please email the membership chair at somethingsomething@something.com</p>
        </div>
    </div>
</body>
</html>