<!DOCTYPE html>
<html lang="en">
<head>
    <title>Troop 44</title>
    <meta charset="UTF-8" />
    <meta name="description" content="This is Django Template" >
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
</head>

<body>
    <div id='wrapper'>
        <div id='header'>
            <a href="/"><img src="{% static 'img/logo.png' %}" alt="Troop 44" /></a>
            <img id="mypic" src="{% static 'img/panzer.jpg' %}" alt="my-photo" />
            <div id='registration'>
                
                <p>
                    <a href="/register">Register</a>
                </p>
                
    
            </div>
        </div>

        <div id='navbar'>
            <p><a href="/events">Events</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/location">Location</a></p>
            <p><a href="/gallery">Gallery</a></p>
            <p>Join?</p>
        </div>

        

        <div id='mainbody'>
            {% if messages %}
            {% for message in messages  %}
                <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            <div class="form_box">
                <h1>Login</h1>
                <form action="/login_action" method='POST'>
                    {% csrf_token %}

                        <label for="email">E-Mail</label>
                        <input type="text" name='email' id="email" />
                        <label for="pword">Password</label>
                        <input type="password" name='pword' id="pword" />
                        <input type="submit" value="login">
                    
                </form>
            </div>
        </div>

        <div id='footer'>
            <p>Contact Info: Please email the membership chair at somethingsomething@something.com</p>
        </div>
    </div>
</body>
</html>